Django
django-dotenv
django-environ
django-tailwind
djangorestframework
drf-yasg
gunicorn
psutil
psycopg2-binary
python-decouple
django-cors-headers
cx_freeze
pyinstaller
macholib
jaraco.text
packaging
pyinstaller
pillow


